# --- Archivos de sistema (Basura) ---
.DS_Store
Thumbs.db

# --- Archivos con CLAVES ---
# Aquí pondremos los archivos con contraseñas
config.php
database.php
.env
conexion.php
secrets.txt

# --- Carpetas de librerías y temporales ---
/vendor/
/node_modules/
*.log
error_log
